<!--block and partial helpers work together to provide you template inheritance!!!!!
Partial overrides block from base with the same name-->
{{#partial "content"}}

    <h1>{{ idea.title }}</h1>
    <h2>{{ idea.voteCount }} Voters</h2>
    <ul>
        {{#each idea.voters}}
            <!--this is here username of the voter and it will display all of them from the array.
            it is used like that isnce the voter is just a string and not the object then we have to access as this-->
            <li>{{ this }}</li>
        {{/each}}
    </ul>
    <form action="/ideas/{{ idea.slug }}/vote" method="post">
        <button>Vote</button>
    </form>

{{/partial}}

{{#partial "title"}}

    Course Idea - {{ idea.title }}

{{/partial}}

{{> base.hbs}}